<h1>Edit Platform <%= @platform.name %> </h1>
    <p><%= @error %></p>
<form action="/platforms/<%= @platform.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label>Platform Name</label>
    <input type="text" name="platform[name]" value="<%= @platform.name %>">
    <label>Games</label>
    <textarea name="platform[games]"><%= @platform.games %></textarea>
    <button type="submit">Edit Post</button>
</form>